/part09-Part09_04.DifferentKindsOfBoxes/target/
/part09-Part09_05.TacoBoxes/target/
/part09-Part09_06.InterfaceInABox/target/
/part09-Part09_07.ListAsAMethodParameter/target/
/part09-Part09_08.MapAsAMethodParameter/target/
/part09-Part09_09.SetAsMethodParameter/target/
/part09-Part09_10.OnlineShop/target/
/part09-Part09_11.Herds/target/
/part09-Part09_12.Animals/target/
/part10-Part10_01.AverageOfNumbers/target/
/part10-Part10_02.AverageOfSelectedNumbers/target/